*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  /* Color */
  --main-clr: #212121;
  --secondary-clr: #757575;
  --accent-clr: #2196f3;
  --secondary-accent-clr: #ffffff;
  --main-bgd-clr: #f5f5f5;
  --secondary-bgd-clr: #2f303a;
  --accent-bgd-clr: #f5f4fa;
  --header-boarder-clr: #ececec;
  /* Font */
  --main-font: Roboto;
  --secondary-font: Raleway;
}
body {
  font-family: var(--main-font);
  color: var(--main-clr);
  width: 100%;
  margin: 0;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.centered {
  text-align: center;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid var(--header-boarder-clr);
}
.main-nav {
  margin-left: 93px;
}

.container-header {
  display: flex;
  align-items: center;
}
.main-nav .logo {
  margin-right: 93px;
}

.header .logo {
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: var(--secondary-font);
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
}
.logo span {
  color: var(--accent-clr);
}

.nav-list {
  display: flex;
}

.nav-item {
  margin-right: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: inherit;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-clr);
}
.nav-link.link.current {
  color: var(--accent-clr);
}

.contacts-list {
  display: flex;
  margin-left: auto;
}
.contacts-list .contacts-item + .contacts-item {
  margin-left: 50px;
}
.contact.link {
  color: var(--secondary-clr);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact.link:hover,
.contact.link:focus {
  color: var(--accent-clr);
}
.hero {
  background-color: var(--secondary-bgd-clr);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  color: var(--secondary-accent-clr);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 30;
}

.hero-btn {
  padding: 10px 30px;
  min-width: 216px;
  min-height: 50px;
  text-align: center;
  background-color: var(--accent-clr);
  color: var(--secondary-accent-clr);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}
.hero-btn:hover,
.hero.btn:focus {
}
.features {
  background-color: var(--secondary-accent-clr);
  letter-spacing: 0.03em;
}
.container-features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
}
.feature-item {
  width: 270px;
}
.features-list .feature-item + .feature-item {
  margin-left: 30px;
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.feature-text {
  color: var(--secondary-clr);
  font-size: 14px;
  line-height: 1.7;
  padding: 0;
  margin: 0;
}
.services {
  padding-bottom: 94px;
}

.services-title,
.team-title {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}
.services-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.services-item {
}
.services-list .services-item + .services-item {
  margin-left: 30px;
}

.services-img {
}
.team {
  background-color: var(--accent-bgd-clr);
  letter-spacing: 0.03em;
}
.container-team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.team-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding: 0;
  margin: 0;
}
.team-item:last-child {
  margin-right: 0;
}
.team-img {
  margin-bottom: 30px;
}
.team-card-discr {
  padding: 30px 0;
  text-align: center;
}
.team-item-title {
  margin-bottom: 10px;
}
.team-item-txt {
  color: var(--secondary-clr);
}

/* Portfolio */
.portfolio {
  background-color: var(--secondary-accent-clr);
}
.container-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filtr-btns-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filtr-btn-item {
  margin-right: 8px;
}
.filtr-btn-item:last-child {
  margin-right: 0;
}
.filtr-btn {
  padding: 6px 25px;
  min-width: 73px;
  max-height: 38px;
  background-color: var(--accent-bgd-clr);
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.filtr-btn:hover,
.filtr-btn:focus {
  color: var(--secondary-accent-clr);
  background-color: var(--accent-clr);
}
.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}
.card-item {
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 0;
  max-width: 370px;
  border: 1px solid #eeeeee;
}
.card-item:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 0;
}
.card-item .link {
  color: var(--main-clr);
}
.card-img {
}
.portfolio-box {
  padding: 20px 24px;
}
.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
}
.card-discription {
  color: var(--secondary-clr);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  padding: 0;
  margin: 0;
}
.footer {
  background-color: var(--secondary-bgd-clr);
}
.footer .logo {
  color: var(--secondary-accent-clr);
  margin-bottom: 20px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: var(--secondary-font);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
}
.container-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-accent-clr);
}
.address-list {
}

.address-item {
  margin-bottom: 9px;
}
.address-item:last-child {
  margin-bottom: 0;
}
.address-contact.link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
